<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <!-- 启动使用注解配置AOP 支持-->
<!--    <aop:aspectj-autoproxy />-->
<!--    <bean id="securityHandler"-->
<!--          class="cn.edu.zjut.aspect.SecurityHandler" />-->
    <bean id="SecurityHandler2" class="cn.edu.zjut.aspect.SecurityHandler2"/>
    <aop:config>
        <aop:aspect id="security" ref="SecurityHandler2">
            <aop:pointcut id="modify"
                          expression="execution(* *.add*(..))" />
            <aop:before method="checkSecurity" pointcut-ref="modify" />
        </aop:aspect>
    </aop:config>
    <!-- bean-->
    <bean id="userDAO" class="cn.edu.zjut.dao.CustomerDAO" />
    <bean id="userService" class="cn.edu.zjut.service.UserService">
        <property name="customerDAO" ref="userDAO" />
    </bean>


</beans>